body{
    background-color: #cccccf;
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
}
.quadrado{
    background-color: #302f2f;
    padding: 20px 0px;
    border-radius: 15px;
    color:#121213;
    max-width: 50vw;
}
main {
    display: grid;
    justify-content: center;
}

h1{
    margin-top: 200px;
    font-size: 60px;
    color: #1b1b1b;
}
h2{
    font-size: 30px;
    color: #ececee;
}

h3{
    color: #c7c7c7;

}

main div button{
    width: 150px;
    height: 100px;
    position: relative;
    margin-top: 1%;
    top: 40%;
}

main #diver3 button{
    margin-top: 1%;
    top: -10%;
}

#btn2{
    font-size: 200px;
}

#diver3{
    text-align: right;
    width: 600px;
    height: 100px;
    font-size: 20px;
}

#user{
    height: 50px;
}

#senha{
    height: 50px;
}

button{
    width: 160px;
    height: 100px; 
    
}

#corFrase{
    color: #dc143c;
}
